.header1{
	width: 100%;
	height: 70px;
	/* background: rgb(202, 13, 13); */
}
.title > h3{
	color: #5a5a5a;
	font-size: 27pt;
	font-weight: 200;
	padding: 17px;
}
.border-bottom{
	width: 100%;
	border-bottom: 2px solid #f44336c9;
}
.header2{
	/* background-color: #f4433642; */
	width: 100%;
	height: 80px;
}
.header2 > .row > .span4 > p {
    padding-top: 10px;
    padding-left: 55px;
}
.header3 > .row > .span4 > p {
    /* padding-top: 10px; */
    padding-left: 55px;
}
.inv_project > p{
	font-size: 16pt;	
}
.tfoot-right{
	text-align: right !important;
}
.right{
	text-align: right !important;
}
/* .row-fluid .span3 {
    width: 10.404255%;
} */