/*Configure*/
.currency{
      margin-left: 60px;
}
table tr .tax_name{
  padding-right: 100px;
}
table tr td{
    padding-left: 60px;
}
.configure .cr_text input{
      width: 84px;
}
.span button{
  margin-top: 20px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    background-color: #348fd9;
    width: auto;
}
.iconn{
  border: 1px solid black;
  width: 80px;
  height: 50px;
}
.alert1 {
    margin-bottom: 20px;
    height: 12px;
    width: 964px;
    padding: 20px;
    background-color: #aad1dd6e;
    color: #3b8b58;
    margin-left: 32px;
}
input #myCheck {
  margin-left: 30px;
}
td i{
  padding-right: 7px;
}
.w3-table-all tr td {
  padding-left: 15px;
  background-color: #d5f0d5;
}
.w3-table-alll tr td {
  padding-left: 15px;
}
.configure li{
    display: inline-block;
    padding-left: 30px;
}
.configure1 li{
    display: inline-block;
    padding-left: 30px;
}
.configure2 li{
    display: inline-block;
    padding-left: 30px;
}
.configure2 .delete{
      padding-left: 400px;
}
.configure2 .sort{
      padding-left: 88px;
}
.configure2 .tier{
      padding-left: 80px;
}
.line2{
  border-bottom: 1px solid #ddd6d6;
    width: 854px;
    margin-left: 48px;
    margin-top: 0px;
/*  height: 20px;*/
}
.line3{
  border-bottom: 1px solid #ddd6d6;
      width: 745px;
    margin-left: 48px;
    margin-top: 0px;
/*  height: 20px;*/
}
.line4 {
    border-bottom: 1px solid #ddd6d6;
   width: 399px;
    margin-left: 53px;
    margin-top: 17px;
    margin-bottom: 76px;
}
.line{
  border-bottom: 1px solid #ddd6d6;
  width: 982px;
  margin-left: 240px;
  margin-top: -8px;
/*  height: 20px;*/
}
.line1{
    border-bottom: 1px solid #ddd6d6;
    width: 982px;
    margin-left: 152px;
    margin-top: -8px;
    margin-bottom: 76px;
/*  height: 20px;*/
}
.tax_group{
  color: #1717e3;
  list-style-type: none;
  margin-top: 11px;
  padding-left: 209px;
  text-decoration: none;
}
.configure .tax_name{
      padding-left: 202px;
}
.configure1 .default{
      padding-left: 306px;
}
/** Home Page **/
@font-face {
    font-family: Hanuman;
    src: url(fonts/Hanuman.ttf);
}

body {
	padding-top: 0;
	/*padding-bottom: 40px;*/
	background-color: #f5f5f5;
  font-family: Hanuman !important;
}



@media (min-width: 979px){
    body {
            padding-top: 60px;
    }
}
body {
    padding-top: 40px !important;
}

/** Login Page **/
#login {
    padding-top: 40px;
    padding-bottom: 40px;
}

#login .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/** 2 level sub menu **/
.dropdown-menu-with-subs .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
  visibility: visible;
  display: block;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

/** Global **/
#content {
  margin-left:0px;
}
.hide-sidebar, .show-sidebar {
  cursor: pointer;
}
.padd-bottom {
  margin-bottom: 5px;
}
.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 5px;
	text-align: center;
}

/** Side Bar **/
.bs-docs-sidenav {
  max-width: 284px;
  margin: 0px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav .icon-chevron-down {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav a:hover .icon-chevron-down {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav .active .icon-chevron-down,
.bs-docs-sidenav .active a:hover .icon-chevron-down {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.submenu {
  margin: 0px 0 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}


.submenu > li > a {
  display: block;
  width: 189px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #fff;
  transition: border-left 220ms ease-in;
}

.submenu > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border-top: 1px solid #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.submenu > li > a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
/*.submenu .chosen, .submenu .chosen:hover { border-left: solid 6px #96d145; }

.submenu li > a:hover { border-left: solid 6px #ae9f9f; }

.submenu li span { margin-left: 20px; }*/

/* Icons
------------------------- */
.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}


.control-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

footer p{
  margin:0;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
.cen_title {
    color: #08c;
}
section#sidebar {
   width: 15%;
    margin: 0px 17px 0 0;
}

.form-group {
    margin-bottom: 30px;
}
/*custom*/
.container-fluid {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.navbar .brand{
padding: 10px 10px 0px 20px !important;
}
.navbar .nav>li>a{
    padding: 10px 10px 10px !important;
}

img.client_upload_image_respon {
  width: 150px;
  border: 5px solid #ddd;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
}
