		.font_load-header{
			font-family: Khmer OS Battambang;
		}
		.main-title{
			font-family: Khmer OS Muol Light;
    		font-size: 12px;
		}
		.font-title{
			font-family: Khmer OS Muol Light;
    		font-size: 12px;
    		float: left;
		}
		.header_load{
			    color: #bdbdbd;
    			font-weight: bold;
		}
		span{
			margin: 1px;
		}

		.content ul li{
			line-height: 32px;
			font-size: 14px;
			font-family: Khmer OS Battambang;
		}
		.li_list ol { counter-reset: item }
   		.li_list li { display: block }
   		.li_list li:before { content: counters(item, ".") " "; counter-increment: item }
   		.li_list li {
    list-style-type: none;
}

		.content{
			line-height: 32px;
			font-size: 14px;

		}
		.form{
			position: absolute;
    		margin: -34px 90px;
		}
		.br_line{
			    height: 127px;
		}
		.li_height li{
			line-height: 31px;
		}
		p{
			font-family: Khmer OS Battambang;
			font-size: 14px;
		}

		#header, #footer {
     	display: none;
		}
		@media print
		{    
			@page {
			  size: A4;;
			  margin: 25px;
			       }
			#printPageButton {
			    display: none;
			  }

		    #no-print{
		    	margin-right: 50px !important;
		    }
		    .man-title{
		    	text-align: center !important;
		    	clear: both;
		    }
		    #col1{
		    	float: left;
		    	margin-right: 150px;
		    	margin-left: 120px;
		    	height: 100px;
		    }
		    #col2{
		    	float: left;
		    	height: 100px;
		    	margin-right: 150px;
		    }
		    #col3{
		    	height: 100px;
		    	float: left;
		    }
		    #col4{
		    	float: left;
		    	margin-right: 150px;
		    	margin-left: 90px;
		    	height: 100px;
		    }
		    #col5{
		    	float: left;
		    	height: 100px;
		    	margin-right: 150px;
		    }
		    #col6{
		    	height: 100px;
		    	float: left;
		    }
		    .col1_1{
		    	margin-left: 10px;
		    }.sub_col1_1{
		    	margin-right: 100px !important;
		    }
		    .col1_2{
		    	float: left;text-align: right;margin-left: 124px;
		    }
		    .col1_3{
		    	float: left;margin-left: 50px;
		    }
		    #header {
		         position: fixed;
		         display: block;
		         top: 0;
		    }
		    .header{
		    	float: right;
		    	margin-right: 100px !important;

		    }
		    .header_left{
		    	margin-top: 60px !important;
		    	margin-left: 30px !important;
		    }
		    .title_center{
				font-family: Khmer OS Muol Light;
	    		font-size: 12px;
	    		margin: -12px 47px -12px 35px !important;
		    }
		    #footer {
		    	 position: fixed !important;
		         display: block !important;
		         bottom: 0 !important;
		         color: #ccc8c8 !important;
		         width: 100% !important;
		    }
		    .span12{
		    	text-align: justify !important;
		    }
		    .paragrap_p{
		    	margin-left: 45px !important;
		    }
		    p{
				font-family: Khmer OS Battambang;
				font-size: 14px;
			}
			.content ul li{
				line-height: 32px;
				font-size: 14px !important;
			}
			
		}